.employer-img {
    border-radius: 100%;
    width: 500px;
    height: 500px;
}

.employer-reg-box {
    background: linear-gradient(to bottom right, rgb(222, 172, 245) 0%, rgb(249, 246, 250) 100%) 100% no-repeat;
}