.navheader{        
    margin-top: 15px;     
    font-size: 18px;       
    color :black !important;        
    background-color: #b3beca!important        
  }     
  .btnspace    
  {    
  margin: 15px;    
  }    